.greed,
.greed [class^="col-"] {
  padding: 5px;
}
.greed [class^="col-"] {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}
.greed [class^="row-"] {
  font-size: 0;
}
.greed .row-16 .col-16 {
  width: 100%;
}
.greed .row-16 .col-15 {
  width: 93.75%;
}
.greed .row-16 .col-14 {
  width: 87.5%;
}
.greed .row-16 .col-13 {
  width: 81.25%;
}
.greed .row-16 .col-12 {
  width: 75%;
}
.greed .row-16 .col-11 {
  width: 68.75%;
}
.greed .row-16 .col-10 {
  width: 62.5%;
}
.greed .row-16 .col-9 {
  width: 56.25%;
}
.greed .row-16 .col-8 {
  width: 50%;
}
.greed .row-16 .col-7 {
  width: 43.75%;
}
.greed .row-16 .col-6 {
  width: 37.5%;
}
.greed .row-16 .col-5 {
  width: 31.25%;
}
.greed .row-16 .col-4 {
  width: 25%;
}
.greed .row-16 .col-3 {
  width: 18.75%;
}
.greed .row-16 .col-2 {
  width: 12.5%;
}
.greed .row-16 .col-1 {
  width: 6.25%;
}
.greed .row-15 .col-15 {
  width: 100%;
}
.greed .row-15 .col-14 {
  width: 93.33333333333334%;
}
.greed .row-15 .col-13 {
  width: 86.66666666666667%;
}
.greed .row-15 .col-12 {
  width: 80%;
}
.greed .row-15 .col-11 {
  width: 73.33333333333334%;
}
.greed .row-15 .col-10 {
  width: 66.66666666666667%;
}
.greed .row-15 .col-9 {
  width: 60%;
}
.greed .row-15 .col-8 {
  width: 53.333333333333336%;
}
.greed .row-15 .col-7 {
  width: 46.66666666666667%;
}
.greed .row-15 .col-6 {
  width: 40%;
}
.greed .row-15 .col-5 {
  width: 33.333333333333336%;
}
.greed .row-15 .col-4 {
  width: 26.666666666666668%;
}
.greed .row-15 .col-3 {
  width: 20%;
}
.greed .row-15 .col-2 {
  width: 13.333333333333334%;
}
.greed .row-15 .col-1 {
  width: 6.666666666666667%;
}
.greed .row-14 .col-14 {
  width: 100%;
}
.greed .row-14 .col-13 {
  width: 92.85714285714286%;
}
.greed .row-14 .col-12 {
  width: 85.71428571428572%;
}
.greed .row-14 .col-11 {
  width: 78.57142857142857%;
}
.greed .row-14 .col-10 {
  width: 71.42857142857143%;
}
.greed .row-14 .col-9 {
  width: 64.28571428571429%;
}
.greed .row-14 .col-8 {
  width: 57.142857142857146%;
}
.greed .row-14 .col-7 {
  width: 50%;
}
.greed .row-14 .col-6 {
  width: 42.85714285714286%;
}
.greed .row-14 .col-5 {
  width: 35.714285714285715%;
}
.greed .row-14 .col-4 {
  width: 28.571428571428573%;
}
.greed .row-14 .col-3 {
  width: 21.42857142857143%;
}
.greed .row-14 .col-2 {
  width: 14.285714285714286%;
}
.greed .row-14 .col-1 {
  width: 7.142857142857143%;
}
.greed .row-13 .col-13 {
  width: 100%;
}
.greed .row-13 .col-12 {
  width: 92.3076923076923%;
}
.greed .row-13 .col-11 {
  width: 84.61538461538461%;
}
.greed .row-13 .col-10 {
  width: 76.92307692307692%;
}
.greed .row-13 .col-9 {
  width: 69.23076923076923%;
}
.greed .row-13 .col-8 {
  width: 61.53846153846154%;
}
.greed .row-13 .col-7 {
  width: 53.84615384615385%;
}
.greed .row-13 .col-6 {
  width: 46.15384615384615%;
}
.greed .row-13 .col-5 {
  width: 38.46153846153846%;
}
.greed .row-13 .col-4 {
  width: 30.76923076923077%;
}
.greed .row-13 .col-3 {
  width: 23.076923076923077%;
}
.greed .row-13 .col-2 {
  width: 15.384615384615385%;
}
.greed .row-13 .col-1 {
  width: 7.6923076923076925%;
}
.greed .row-12 .col-12 {
  width: 100%;
}
.greed .row-12 .col-11 {
  width: 91.66666666666667%;
}
.greed .row-12 .col-10 {
  width: 83.33333333333334%;
}
.greed .row-12 .col-9 {
  width: 75%;
}
.greed .row-12 .col-8 {
  width: 66.66666666666667%;
}
.greed .row-12 .col-7 {
  width: 58.333333333333336%;
}
.greed .row-12 .col-6 {
  width: 50%;
}
.greed .row-12 .col-5 {
  width: 41.66666666666667%;
}
.greed .row-12 .col-4 {
  width: 33.333333333333336%;
}
.greed .row-12 .col-3 {
  width: 25%;
}
.greed .row-12 .col-2 {
  width: 16.666666666666668%;
}
.greed .row-12 .col-1 {
  width: 8.333333333333334%;
}
.greed .row-11 .col-11 {
  width: 100.00000000000001%;
}
.greed .row-11 .col-10 {
  width: 90.90909090909092%;
}
.greed .row-11 .col-9 {
  width: 81.81818181818183%;
}
.greed .row-11 .col-8 {
  width: 72.72727272727273%;
}
.greed .row-11 .col-7 {
  width: 63.63636363636364%;
}
.greed .row-11 .col-6 {
  width: 54.54545454545455%;
}
.greed .row-11 .col-5 {
  width: 45.45454545454546%;
}
.greed .row-11 .col-4 {
  width: 36.36363636363637%;
}
.greed .row-11 .col-3 {
  width: 27.272727272727273%;
}
.greed .row-11 .col-2 {
  width: 18.181818181818183%;
}
.greed .row-11 .col-1 {
  width: 9.090909090909092%;
}
.greed .row-10 .col-10 {
  width: 100%;
}
.greed .row-10 .col-9 {
  width: 90%;
}
.greed .row-10 .col-8 {
  width: 80%;
}
.greed .row-10 .col-7 {
  width: 70%;
}
.greed .row-10 .col-6 {
  width: 60%;
}
.greed .row-10 .col-5 {
  width: 50%;
}
.greed .row-10 .col-4 {
  width: 40%;
}
.greed .row-10 .col-3 {
  width: 30%;
}
.greed .row-10 .col-2 {
  width: 20%;
}
.greed .row-10 .col-1 {
  width: 10%;
}
.greed .row-9 .col-9 {
  width: 100%;
}
.greed .row-9 .col-8 {
  width: 88.88888888888889%;
}
.greed .row-9 .col-7 {
  width: 77.77777777777777%;
}
.greed .row-9 .col-6 {
  width: 66.66666666666666%;
}
.greed .row-9 .col-5 {
  width: 55.55555555555556%;
}
.greed .row-9 .col-4 {
  width: 44.44444444444444%;
}
.greed .row-9 .col-3 {
  width: 33.33333333333333%;
}
.greed .row-9 .col-2 {
  width: 22.22222222222222%;
}
.greed .row-9 .col-1 {
  width: 11.11111111111111%;
}
.greed .row-8 .col-8 {
  width: 100%;
}
.greed .row-8 .col-7 {
  width: 87.5%;
}
.greed .row-8 .col-6 {
  width: 75%;
}
.greed .row-8 .col-5 {
  width: 62.5%;
}
.greed .row-8 .col-4 {
  width: 50%;
}
.greed .row-8 .col-3 {
  width: 37.5%;
}
.greed .row-8 .col-2 {
  width: 25%;
}
.greed .row-8 .col-1 {
  width: 12.5%;
}
.greed .row-7 .col-7 {
  width: 100%;
}
.greed .row-7 .col-6 {
  width: 85.71428571428572%;
}
.greed .row-7 .col-5 {
  width: 71.42857142857143%;
}
.greed .row-7 .col-4 {
  width: 57.142857142857146%;
}
.greed .row-7 .col-3 {
  width: 42.85714285714286%;
}
.greed .row-7 .col-2 {
  width: 28.571428571428573%;
}
.greed .row-7 .col-1 {
  width: 14.285714285714286%;
}
.greed .row-6 .col-6 {
  width: 100%;
}
.greed .row-6 .col-5 {
  width: 83.33333333333334%;
}
.greed .row-6 .col-4 {
  width: 66.66666666666667%;
}
.greed .row-6 .col-3 {
  width: 50%;
}
.greed .row-6 .col-2 {
  width: 33.333333333333336%;
}
.greed .row-6 .col-1 {
  width: 16.666666666666668%;
}
.greed .row-5 .col-5 {
  width: 100%;
}
.greed .row-5 .col-4 {
  width: 80%;
}
.greed .row-5 .col-3 {
  width: 60%;
}
.greed .row-5 .col-2 {
  width: 40%;
}
.greed .row-5 .col-1 {
  width: 20%;
}
.greed .row-4 .col-4 {
  width: 100%;
}
.greed .row-4 .col-3 {
  width: 75%;
}
.greed .row-4 .col-2 {
  width: 50%;
}
.greed .row-4 .col-1 {
  width: 25%;
}
.greed .row-3 .col-3 {
  width: 100%;
}
.greed .row-3 .col-2 {
  width: 66.66666666666667%;
}
.greed .row-3 .col-1 {
  width: 33.333333333333336%;
}
.greed .row-2 .col-2 {
  width: 100%;
}
.greed .row-2 .col-1 {
  width: 50%;
}
.greed .row-1 .col-1 {
  width: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
[class^="col-"] {
  position: relative;
  height: 50px;
}
[class^="col-"]:before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background-color: cyan;
  border-radius: 10px;
}
